.grid-display {
  display: grid;
}

.grid-row {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

.cell {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
